<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="col-md-12">
          <form>
            <h3 class="text-center text-info">Sign up</h3>
            <div class="form-group">
              <%= f.label :handleName, class: "text-info" %><br />
              <%= f.text_field :name, autofocus: true, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :email, class: "text-info" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password, class: "text-info" %>
              <% if @minimum_password_length %>
              <em class="text-info">(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, class: "text-info" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
            </div>
            <div class="form-group text-center">
              <%= f.submit "Sign up", class: "btn btn-info btn-md" %>
            </div>
            <div class="form-group text-center">
              <%= render "devise/shared/links" %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>
