<% visitor = notification.visitor %>
<% visited = notification.visited %>
  <div class="col-md-6 mx-auto">
    <div class="form-inline">
      <span>
        <%= link_to user_path(visitor) do %>
          <%#= image_tag avatar_url(visitor).to_s, class: "icon_mini" %>
          <strong class="text-light"><%= visitor.name %></strong>
        <% end %>
        さんが
        <% case notification.action %>
          <% when 'follow' then %>
            あなたをフォローしました
          <% when 'like' then %>
            <%= link_to 'あなたの投稿', notification.post, class: "text-light", style: "font-weight: bold;" %>
            にいいねしました
          <% when 'comment' then %>
            <% if notification.post.user_id == visited.id %>
              <%= link_to "あなたの投稿", notification.post, class: "text-light", style: "font-weight: bold;" %>
            <% else %>
            <span>
              <%= link_to post_path(notification.post) do %>
                <%#= image_tag avatar_url(notification.post.user).to_s, class: "icon_mini" %>
                <strong><%= notification.post.user.name %>さんの投稿</strong>
                <%#= "#{notification.post.user.name}さんの投稿" %>
              <% end %>
            <% end %>
              にコメントしました
              <p class=" mb-0 text-light">
                <%= PostComment.find_by(id: notification.comment_id).comment %>
              </p>
            </span>
          <% end %>
      </span>

      <div class="small text-muted text-right">
        <%= time_ago_in_words(notification.created_at).upcase %>
      </div>
    </div>
  </div>
<hr>
