<%= form_with model:@user, local:true do |f| %>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="col-md-12">
        <form>
          <h3 class="form-group text-center m-4">プロフィール編集</h3>
          <div class="row justify-content-center form-group mb-3">
          <%= attachment_image_tag @user, :profile_image, :fill, 200, 200, format: 'jpeg', fallback: "unnamed.jpg",size: "200x200" %>
          </div>
          <div class="form-group text-left">
            <label for="inputImage">ProfileImage</label>
            <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
          </div>
          <div class="form-group text-left">
            <%= f.label :handleName %>
            <%= f.text_field :name, autofocus: true, placeholder:"名前"%>
          </div>
          <div class="form-group text-left">
            <%= f.label :introduction %>
            <%= f.text_area :introduction, autofocus: true, placeholder:"自己紹介", size: "40x4" %>
          </div>
          <div class="form-group text-center">
            <%= f.submit "変更を保存", class: "btn btn-outline-light btn-md" %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% end %>

