<%= form_with model:@user, local:true do |f| %>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="col-md-12">
      <form>
        <h3 class="form-group text-center m-5">プロフィール編集</h3>
        <div class="row justify-content-center mb-3">
        <%= attachment_image_tag @user, :profile_image, :fill, 200, 200, format: 'jpeg', fallback: "unnamed.jpg",size: "200x200" %>
        </div>
        <div class="form-group text-center">
          <label for="inputImage">ProfileImage</label>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
        </div>
        <div class="form-group text-center">
          <%= f.label :handleName %>
          <%= f.text_field :name, autofocus: true, placeholder:"名前"%>
        </div>
        <div class="form-group text-center">
          <%= f.label :introduction %>
          <%= f.text_area :introduction, autofocus: true, placeholder:"自己紹介" %>
        </div>
        <div class="form-group text-center">
          <%= f.submit "変更を保存", class: "btn btn-info btn-md" %>
        </div>
      </form>
      <% end %>
    </div>
  </div>
</div>

