<h2>プロフィール</h2>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "unnamed.jpg" %>
<p>名前</p>
<%= @user.name %>
<p>自己紹介</p>
<%= @user.introduction %>
<p>follows</p>
<%= link_to " #{@user.followings.count} ", user_followings_path(@user.id) %>
<p>followers</p>
<%= link_to " #{@user.followers.count} ", user_followers_path(@user.id) %>
<% if @user == current_user %>
<%= link_to "プロフィール編集", edit_user_path(@user), class: "btn-block" %>
<% elsif current_user.following?(@user) %>
<%= render 'users/follow', user: @user %>
<% else %>
<%= render 'users/follow', user: @user %>
<% end %>
<% if current_user != @user %>
  <%= link_to 'chatを始める', chat_path(@user.id)%>
<% end %>
