<div class="container">
  <div class="row justify-content-center align-items-center main-container">
    <div class="col-md-5">
      <div class="col-md-12">
        <% @chats.each do |chat| %>
          <% if chat.user == current_user %>
            <p class="text-right border bg-dark text-white rounded-pill"><%= chat.message %></p>
          <% else %>
            <p class="text-left border bg-white text-dark rounded-pill"><%= chat.message %><p>
          <% end %>
        <% end %>
        <div class="text-right">
          <%= form_with model: @chat do |f| %>
          <%= f.text_field :message, size: 43, class: "rounded" %>
          <%= f.hidden_field :room_id %>
          <%= f.submit "送信", class: "btn btn-dark btn-md btn-sm" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>