<div class="container">
  <div class="row justify-content-center align-items-end">
    <div class="col-md-5">
      <div class="col-md-12 mb-5">
        <h4 class="text-center"><%= @user.name %>さんとのDM</h4>
        <div class="box scrolly message-box">
        <% @chats.each do |chat| %>
          <% if chat.user == current_user %>
            <p class="right-msg" style="align-self: flex-end;">
              <span class="border bg-dark text-white m-1 message"><%= chat.message %></span>
              <time><%= minutes_in_words(chat.updated_at) %></time>
            </p>
          <% else %>
            <p>
              <span class="border bg-white text-dark m-1 message left-msg">
                <%= chat.message %>
                <time><%= minutes_in_words(chat.updated_at) %></time>
              </span>
            </p>
          <% end %>
        <% end %>
        </div>
        <div class="text-right">
          <%= form_with model: @chat do |f| %>
          <%= f.text_field :message, class: "rounded text-box" %>
          <%= f.hidden_field :room_id %>
          <%= f.submit "送信", class: "btn btn-dark btn-md btn-sm" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
