  <div class="container">
    <div class="row justify-content-center align-items-center main-container">
      <div class="col-md-5">
        <div class="text-center">
          <h2>投稿ユーザー</h2>
          <%= link_to @post.user.name, user_path(@post.user), class: "text-dark" %>
        </div>
        <div class="text-center">
          <h2>タイトル</h2>
          <p><%= @post.title %></p>
        </div>
        <div class="text-center">
          <h2>募集内容</h2>
          <p><%= @post.body %></p>
        </div>
        <div class="text-center">
          <h2>ゲームタイトル</h2>
          <p><%= @post.genre.name %></p>
        </div>
        <div class="text-center">
          <% if @post.user == current_user %>
            <%= link_to "削除", post_path(@post), method: :delete , class:'btn btn-outline-danger' %>
          <% end %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="comments-count">
          <p>コメント件数：<%= @post.post_comments.count %></p>
        </div>
        <div class="likes_buttons_<%= @post.id %>">
          <%= render partial: 'likes/like-btn', locals: { post: @post} %>
        </div>
        <div>
          <%= form_with(model:[@post, @post_comment], remote: true) do |f| %>
            <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに", class:"text_field" %><br>
            <%= f.submit "送信する", class: "btn btn-outline-dark btn-sm" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-4 comments_index">
        <%= render 'posts/comments', post: @post, user: @user %>
      </div>
    </div>
  </div>
