<!DOCTYPE html>
<html>
  <head>
    <title>Gamers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <body class=" main-container">
    </head>

  　<header>
      <span class="nav_toggle">
        <i></i>
        <i></i>
        <i></i>
      </span>
      <nav class="nav navbar navbar-expand-lg navbar-dark border-bottom">
        <div class="container">
          <%= link_to image_tag("logo.jpg"), root_path , class:"navbar-brand" %>
          <%= search_form_for @search do |f| %>
            <%= f.text_field :title_cont, placeholder: 'タイトルを検索' %>
            <%= f.submit ("検索する"), class: "btn btn-outline-light btn-sm" %>
          <% end %>

          <ul class="navbar-nav ml-auto nav_menu_ul">
            <% if user_signed_in? %>
            <li>
              <%= link_to notifications_path, class: "nav-link text-light" do %>
                <i class="far fa-bell"></i>通知
              <% end %>
            </li>
            <li>
              <%= link_to dm_path, class: "nav-link text-light nav_menu_li" do %>
                <i class="far fa-envelope"></i>DM
              <% end %>
            </li>
            <li>
              <%= link_to user_path(current_user.id), class: "nav-link text-light nav_menu_li" do %>
                <i class="far fa-user"></i>マイページ
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light nav_menu_li" do %>
                <i class="fas fa-sign-out-alt"></i>ログアウト
              <% end %>
            </li>
            <% else %>
          <!--ログインしていない時-->
            <li>
              <%= link_to root_path, class: "nav-link text-light nav_menu_li" do %>
                <i class="fas fa-home"></i>ホーム
              <% end %>
            </li>
            <li>
              <%= link_to home_about_path, class: "nav-link text-light nav_menu_li" do %>
                <i class="fas fa-gamepad"></i>about
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path, class: "nav-link text-light nav_menu_li" do %>
                <i class="fas fa-user-plus"></i>新規登録
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path, class: "nav-link text-light nav_menu_li" do %>
                <i class="fas fa-sign-in-alt"></i>ログイン
              <% end %>
            </li>
          <% end %>
          </ul>
        </div>
      </nav>
      <div class="social"></div>
  　</header>

    <%= yield %>

    <div class="push"></div>

    <footer class="fixed-bottom footer border-top">
      <div class="container">
        <div class="text-center">
          <div class="mx-auto">
            <p class="m05">Copyright © Gamers. All Rights Reserved.</p>
            <p class="m05">
              <%= link_to "お問い合わせはこちらから", new_contact_path, class: "text-light" %>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script>
      $(".nav_toggle").on("click", function () {
        $(".nav_toggle, .nav").toggleClass("show");
      });
    </script>
  </body>

</html>

